# Dependencies
node_modules/
venv/
__pycache__

# Environment variables (Critical for security)
.env
user_settings.json

# System files
.DS_Store
Thumbs.db

# Build outputs
/dist
/build
/video-gen
/assets/audio_clips
/assets/final
/assets/temp
/assets/video_clips
/modules/__pycache__
*.log